@import '../styles/main.scss';

.home {
    display: flex;
    // min-height: 100vh;
    padding: 20px;
    gap: 30px;
    background: transparent;

    .sidebar {
        flex: 0 0 320px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: sticky;
     
        height: fit-content;
        z-index: 10;
    }

    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 0; // Prevent flex item from overflowing
       margin-top: -90px;
        
    }
}

@include mobile {
    .home {
        flex-direction: column;
        padding: 10px;
        padding-top: 87px;
        
        .sidebar {
            flex: none;
            width: 100%;
            position: static;
        }

        .main-content {
            width: 100%;
        }
    }
}
body {
  scrollbar-width: thin;
  scrollbar-color: #88888868 rgb(74 72 72 / 83%);
}