@import '../styles/main.scss';
body{
    background: black;
}
.home {
    display: flex;
    min-height: 100vh;
    // padding: 20px;
    // gap: 30px;
   width: 100%;

    .sidebar {
        flex: 0 0 320px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: sticky;

        height: fit-content;
        z-index: 10;
    }

    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }
}

@include mobile {
    .home {
        flex-direction: column;
        padding: 10px;
        padding-top: 87px;

        .sidebar {
            flex: none;
            width: 100%;
            position: static;
        }

        .main-content {
            width: 100%;

        }
    }
}

body {
    scrollbar-width: thin;
    scrollbar-color: #88888868 rgb(74 72 72 / 83%);
}

.secondary-button {
    border-radius: 3em;
    background: #e8e8e869;
    cursor: pointer;
    // border: none;
    transition: all 0.3s ease;

    font-family: $secondary-font-family;
    padding: 15px;
    color: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    border-color: rgb(212, 221, 224);
    margin: 5px;
    background-image: linear-gradient(90deg, #ffffff, #080808, #e6eaeb);
}

.primary-button {
    border-radius: 3em;
    background: #e8e8e869;
    cursor: pointer;
    // border: none;
    transition: all 0.3s ease;

    font-family: $secondary-font-family;
    padding: 15px;
    color: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    border-color: rgb(212, 221, 224);
    margin: 10px;
    background-image: linear-gradient(90deg, #ffffff, #ffffff, #e6eaeb);
}

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}