@import '../styles/main.scss';
.home {
  margin: 20px;
  padding: relative;
  scale: 0.95;
  width: max-content;
}

@include mobile {
  .home {
    scale: 0.88;
    font-size: 1.3rem;
    margin-top: -70px;
    width: 570px;
  }
}
body {
  scrollbar-width: thin;
  scrollbar-color: #88888868 rgb(74 72 72 / 83%);
}