@import '../styles/main.scss';

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap');

.container {
    width: 30px;
    min-height: 10vh;
    @include flex-center;
    justify-content: flex-start;
    padding: 1rem;
    font-family: $secondary-font-family;
   
}

.letters {
    display: flex;
    align-items: baseline;
    position: relative;
}

@keyframes logoBounce {
    0% {
        transform: scale(0.9) translateZ(-800px);
        opacity: 0;
    }

    80% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.letter.logo {
    // font-family: $cuatro-font-family;
    font-size: clamp(2rem, 4vw, 4rem);
    // font-weight: 800;
    letter-spacing: 0.6em;
    color: #e6eaeb;
    opacity: 0;
    transform: translateY(20px);
    animation: logoBounce 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    scale: 1.2;

    &.hovered {
        color: transparent;
        background-image: linear-gradient(90deg, #000000, #ffffff,#fda4af);;
        background-size: 200%;
        animation: colorShift 3s ease infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
       
    }

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}

.suffix {
    font-family: $tercero-font-family;
    font-size: clamp(3rem, 4vw, 1.3rem);
    font-weight: 700;
    letter-spacing: 0.25em;
    margin-left: 0.5rem;
    background: $lamp-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: translateY(20px);
    animation: logoBounce 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    &:after {
        content: '';
        display: block;
        height: 2px;
        background: linear-gradient(45deg, #f2f2f4, #ead0d4);
        width: 0;
        transition: width 1s ease-in-out;
        animation: underline 1s ease-in-out forwards;
    }
}

@keyframes underline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.Logo {
    transform: scale(0.2);
    transform-origin: left;
    margin-left: 100px;
    margin-top: -25px;

    @include mobile {
        
        margin-left: -35px;
        position: relative;
        margin-top: -20px;
        transform: scale(0.3);
    }
    
    
}
@include mobile {
    .suffix{font-size: clamp(3rem, 6vw, 4rem);}
}
