@import '../styles/main.scss';

.code-interpreter-container {
    margin: 20px;
    padding: relative;
}

.code-interpreter-form {
    @include card-style;
    padding: 15px;
    scale: 0.8;
    position: relative;
    margin-top: -30px;
    margin-bottom: 60px;
    width: 166%;
    font-family: $secondary-font-family;
    line-height: 2.5rem;
    .form-title {
        @include title-style;
    }

    .form-group {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

    input {
        @extend %input-style;
        font-size: 1.06rem;
        color: rgb(255, 254, 254);
        width: 54%;
       
            font-weight: 200;
            letter-spacing: 0.15em;
            
            line-height: 3rem;
            font-family: $primary-font-family;
    }

    .codigos-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 30px;
    }

    .form-group {
        flex: 1 0 calc(50% - 5px);
        min-width: 200px;
    }

    .submit-button {
        @include button-style;
        font-size: 1.2rem;
    }
}

.error {
    color: red;
    margin-top: 16px;
    text-align: center;
}

.resultado-container {
   
    .resultado {
        margin-bottom: 20px;
        display: flex;
    background: #000000c4;
        flex-direction: column;
        align-items: center;
        backdrop-filter: invert(1);
        border-radius: 10px;
        p,li{
           
            font-weight: 200;
            letter-spacing: 0.15em;
          
            line-height: 3rem;
            font-family: $primary-font-family;
          }
    }

    .reset-button {
        @include button-style;
    }
}

.resultado {
    @include card-style;

    .resultado-titulo {
        @include title-style;
        margin-bottom: 20px;
    }

    .resultado-subtitulo {
        
        margin-bottom: 10px;
        width: 300px;
            border-radius: 25px;
            border: solid 1px;
            border-color: rgb(212, 221, 224);
            padding: 10px;
            
            font-weight: 200;
            letter-spacing: 0.15em;
            font-size: 1.5rem;
            line-height: 3rem;
            
    }

    .resultado-diagnostico {
        margin-bottom: 20px;
        line-height: 1.6;
    }

    .resultado-sugerencias {
        list-style: none;
        padding: 0;

        .resultado-sugerencia {
            margin-bottom: 10px;
            padding-left: 20px;
            position: relative;
        }
    }
}

@include mobile {
    .code-interpreter-container {
        padding: 15px;
        scale: 0.95;
        position: relative;
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .resultado {
        margin-top: -180px;
        scale: 0.8;
        font-size: 1.4rem;

        .resultado-titulo {
            
        }
    }

    .code-interpreter-form {
        width: 100%;
        margin-left: -18px;

        .form-group {
            flex: 1 0 100%;
        }

       
    }
}