

@import '../styles/main.scss';

.welcome-dialog {
  @include card-style;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
  position: relative;
  min-height: 300px; // Mantener altura consistente
display: flex;
justify-content: center;
align-items: center;
width: 50vw;
  .text-content {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    
    h1 {
      @include title-style;
    }
    
    ul {
      list-style: none;
      min-height: 150px;
      font-weight: 250;
      letter-spacing: 0.15em;
      line-height: 3rem;
    }
  }
  
  .welcome-options-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    width: 100%;
    animation: fadeIn 0.5s forwards;
  }

  .quick-access {
   
    

    p {
     
    }

    .quick-buttons {
       opacity: 0;
    animation: fadeIn 0.5s forwards;

      .start-btn {
        @include button-style;
    
      font-size: 1.5rem;
      background: black;
      border-radius: 50%;
      color: white;
      padding: 6rem 2rem;
      &:hover {
        transform: translateY(-3px);
        box-shadow: inset 6px 6px 12px #c5c5c599, inset 1px -1px 20px #483f3fd4, 0 6px 12px rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(90deg, #d1d3d3, #ffffff, #ffffff);
        color: black;
      }
      }
    }
  }

  .button-content {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    
    .start-btn {
      @include button-style;
      padding: 1rem 2.5rem;
      font-size: 1.5rem;
      background: rgb(10, 10, 10);
      border-radius: 95px;
      color: white;
          padding: 3rem 3rem;
      &:hover {
        transform: translateY(-3px);
        box-shadow: inset 6px 6px 12px #c5c5c599, inset 1px -1px 20px #483f3fd4, 0 6px 12px rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(90deg, #d1d3d3, #ffffff, #ffffff);
        color: black;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @include mobile {
    scale: 0.8;
    margin-top: -50px;
    font-size: 1.25rem;
    width: auto;

    h1 {
      font-size: 1.6rem;
      background-image: linear-gradient(90deg, #a5b4fc, #ffffff,#e6eaeb);
    }
  }
}

@include mobile {
.start-btn {
 padding:6rem 1rem;
    scale: 0.7;
}

}