@import '../styles/main.scss';

.diagnosis {
  @include card-style;

  h2,
  h3 {
    @include title-style;
  }

  ul {
    list-style: none;
  }

  @include mobile {
    scale: 0.9;
    margin-top: -75px;
    font-size: 1.4rem;

    h2,
    h3 {
      font-size: 1.6rem;
      background-image: linear-gradient(89deg, #ff0000, #002bff 42%, #06b6d4 74%, #f9f8f8);
    }
  }
}