.robot-component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.robot-fixed-container {
    display: none !important;
}

@media (max-width: 768px) {
    .robot-component {
        overflow: hidden;
        
        width: 100%;
    }

}

