@import '../styles/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap');

.menu {
    display: flex;
    
    align-items: center;
    margin-left: auto;
    justify-content: space-around;
   
    max-width: 90%;
    width: 100vw;
    
    letter-spacing: 0.1em;
    
    margin: 40px;
}

.menu-item {
  
    font-weight: 700;
    
    text-decoration: none;
   

    &:hover {
        color: none;
        background-image: linear-gradient(90deg, #fda4af, #ffffff, #a5b4fc);
    }

  
   

    transform: scale(0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    // width: 900px;
    
    height: 60px;
    // margin-right: 40px;
    
    border-radius: 2em;
    background: #e8e8e869;
    cursor: pointer;
    // border: none;
    transition: all 0.3s ease;
    
    font-family: $secondary-font-family;
   
    color: transparent;
    
    -webkit-background-clip: text;
    position: relative;
    overflow: hidden;
    font-size: 2.3rem;
    border-color: rgb(212, 221, 224);
    
    background-image:linear-gradient(90deg, #a5b4fc, #ffffff,#fda4af);
    
        &:hover {
          transform: translateY(-3px);
          
          // animation: neon-pulse 1.5s infinite;
          color: none;
          background-image: linear-gradient(90deg, #fda4af, #ffffff, #a5b4fc);
        }
    
        &:active {
          transform: translateY(1px);
         
        }
      
    
        &:hover {
          transform: translateY(-3px);
          
         
          color: none;
          background-image: linear-gradient(90deg, #fda4af, #fdfcfc, #a5b4fc);
    
          &::after {
            opacity: 1;
          }
    
          &::before {
            opacity: 1;
            left: -100%;
          }
        }
    
        &:active {
          transform: translateY(1px);
          
            
        }
      
    
    }  


.item {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    margin-right: -29px;
}

@include mobile {
    .menu-item {
        height: 30px;
        font-size: 1.5rem;
    }

    .navigacion {
        margin-left: 43px;
    }

    .menu {
        // gap: 10.5rem;
    }
}