/* menu.css */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap');
.menu {
    
    display: flex;
    gap: 1.5rem;
    /* Espacio entre los elementos del menú */
    align-items: center;
    margin-left: auto;
    /* Alinea el menú a la derecha */
    justify-content: center;
        font-family: 'Urbanist', sans-serif;
            
                max-width: 90%;
            width: 100vw;
            font-size: clamp(3rem, 6vw, 6rem);
            font-weight: 300;
            letter-spacing: 0.1em;
            color: #333;
margin: 20px;
    
}


.menu-item {
    
    font-size: 1.3rem;
    font-weight: 700;
    color: #e8eef5;
    text-decoration: none;
    transition: color 0.3s ease;
}

@media (max-width: 968px) {
    .menu-item {
        color: #e8eef5;
        /* Cambia el color cuando se pasa el ratón */
    }
    .navigacion{
        margin-left: 43px;
    }
}

.menu-item:hover {
    color: #22d3ee;
    /* Cambia el color cuando se pasa el ratón */
}
.item{
display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    margin-right: -29px;

}