@import '../styles/main.scss';

.video-background-container {
    @include absolute-full;
    overflow: hidden;
    z-index: -1;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}