.video-background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* Ocupa todo el ancho de la ventana */
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
    overflow: hidden;
    /* Oculta cualquier contenido que se salga de los límites */
    z-index: -1;
    /* Envía el video al fondo */
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    /* Deja que el ancho sea dinámico */
    height: 100%;
    /* Asegura que siempre cubra la altura completa */
    min-width: 100%;
    /* Asegura que el ancho mínimo sea 100% */
    min-height: 100%;
    /* Asegura que la altura mínima sea 100% */
    transform: translate(-50%, -50%);
    /* Centra el video */
    object-fit: cover;
    /* Cubre toda la pantalla sin deformar */
}