@import '../styles/main.scss';

.question-form {
  @include card-style;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  h2 {
    @include title-style;
  }

  textarea {
    @extend %input-style;
    margin-right: 10px
  }

  button {
    @include button-style;
    

    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 70%);
      z-index: -1;
      filter: blur(10px);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: inset 6px 6px 12px #c5c5c599, inset 1px -1px 20px #483f3fd4,
        0 6px 12px rgba(0, 0, 0, 0.1);
      animation: neon-pulse 1.5s infinite;
      color: #7fd0dcf9;

      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 1;
        left: -100%;
      }
    }

    &:active {
      transform: translateY(1px);
      box-shadow: inset 6px 6px 12px #c5c5c599, inset 1px -1px 20px #483f3fd4,
        0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 768px) {
  .question-form {
    scale: 0.8;
    margin-top: -75px;
  }
}