@import '../styles/main.scss';

.question-form {
  @include card-style;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  p{
    
    font-weight: 200;
    letter-spacing: 0.15em;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: $primary-font-family;
  }

  h2 {
    @include title-style;
  }

  textarea {
    @extend %input-style;
    margin-right: 10px;
    width: 536px;
    height: 85px;
   
            font-weight: 200;
            letter-spacing: 0.15em;
            font-size: 1.5rem;
            line-height: 3rem;
            font-family: $primary-font-family;
  }

  button {
    @include button-style;

    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      // background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 70%);
      z-index: -1;
      filter: blur(10px);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: inset 6px 6px 12px #c5c5c599, inset 1px -1px 20px #483f3fd4,
        0 6px 12px rgba(0, 0, 0, 0.1);
      animation: neon-pulse 1.5s infinite;
      color: none;
      background-image: linear-gradient(90deg, #a5b4fc, #ffffff, #e6eaeb);

      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 1;
        left: -100%;
      }
    }

    &:active {
      transform: translateY(1px);
      box-shadow: inset 6px 6px 12px #c5c5c599, inset 1px -1px 20px #483f3fd4,
        0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  @include mobile {
    scale: 0.9;
    margin-top: -75px;
    font-size: 1.4rem;

   

    h2 {
      font-size: 1.6rem;
      background-image: linear-gradient(90deg, #e6eaeb #ffffff, #a5b4fc);
    }
  }
}