@import '../styles/main.scss';

.vehicle-form {
  @include card-style;
  scale: 0.95;
  margin-top: -40px;

  .form-title {
    @include title-style;
  }

  .form-select {
    border-radius: 5px;
    margin-left: 10px;
    height: 27px;
    border-radius: 30px;
    font-size: 0.7rem;
    padding: 6px;
  }

  .form-group {
    margin-bottom: 15px;
    display: flex;
  }

  input,
  textarea {
    @extend %input-style;
  }

  button {
    @include button-style;

    &:hover {
      transform: translateY(-3px);
      box-shadow: inset 6px 6px 12px #c5c5c599, inset 1px -1px 20px #483f3fd4, 0 6px 12px rgba(0, 0, 0, 0.1);
      animation: neon-pulse 1.5s infinite;
      color: rgb(247, 251, 253);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: inset 6px 6px 12px #c5c5c599, inset 1px -1px 20px #483f3fd4, 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .character-count {
    padding: 10px;
    font-size: 0.7rem;
  }

  #brand,
  #fuelType {
    @extend %select-style;
  }

  @include mobile {
    margin: 10px;
    scale: 0.9;
    margin-top: -75px;
    font-size: 1.4rem;

    button {
      color: rgb(8 126 164);
    }

    h2 {
      font-size: 1.6rem;
      background-image: linear-gradient(89deg, #ff0000, #002bff 42%, #06b6d4 74%, #ffffff);
    }

    #brand,
    #fuelType {
      scale: 1.3;
    }

    .character-count {
      display: none;
    }
  }
}

input::placeholder,
textarea::placeholder {
  color: rgba(187, 187, 195, 0.934);
  opacity: 1;
}