// /* navbar.scss */
// @import '../styles/main.scss';


// .navbar {
//     transform: scale(0.7);
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 1rem 3rem;
//     width: 900px;

//     border-radius: 40px;
//     height: 30px;
//     margin-right: 40px;
// }

// .menu-completo {
//     display: flex;
//     width: 95vw;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
// }

// @include mobile {
//     .menu-completo {
//         flex-direction: column;
//         position: relative;
//         align-items: center;
//         width: 100%;
//         z-index: 2;
//     }

//     .navbar {
//         // width: 80%;
//         margin: 0px;
//         margin-top: -30px;
//         transform: scale(0.5);
//         // box-shadow: inset 0px 0px 4px 0px  $lamp-color;
//     }
// }
/* navbar.scss */
@import '../styles/main.scss';

.navbar-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2000;

  .menu-toggle {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  }

  .nav-links {
    position: absolute;
    top: 50px;
    right: 0;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 10px 0;
    min-width: 200px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: none;

    &.open {
      display: block;
    }

    a {
      display: block;
      padding: 12px 20px;
      color: #333;
      text-decoration: none;
      font-size: 0.9rem;
      
      &:hover {
        background: #f7f7f8;
      }
    }
  }
}
