@import '../styles/main.scss';
 @media (max-width: 768px){
.lamp-container {
    position: relative;
    // @include flex-center;
    min-height: 380px;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    border-radius: 0.375rem;
    z-index: 0;
    
}

.lamp-wrapper {
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
}

.lamp-inner {
    position: relative;
    display: flex;
    width: 100%;
    flex: 1;
    transform: scaleY(1.25);
    @include flex-center;
    isolation: isolate;
    z-index: 0;
}

.lamp-left,
.lamp-right {
    position: absolute;
    height: 9rem;
    width: 20rem;
    overflow: visible;
}

.lamp-left {
    right: 50%;
    background-image: conic-gradient(from 48deg at center top, $lamp-color, transparent, transparent);
}

.lamp-right {
    left: 50%;
    background-image: conic-gradient(from 315deg at center top, transparent, transparent, $lamp-color);
}

%lamp-mask {
    position: absolute;
}

.lamp-left-mask-1 {
    @extend %lamp-mask;
    width: 100%;
    left: 0;
    height: 10rem;
    bottom: 0;
    mask-image: linear-gradient(to top, white, transparent);
}

.lamp-left-mask-2 {
    @extend %lamp-mask;
    width: 10rem;
    height: 100%;
    left: 0;
    bottom: 0;
    mask-image: linear-gradient(to right, white, transparent);
}

.lamp-right-mask-1 {
    @extend %lamp-mask;
    width: 10rem;
    height: 100%;
    right: 0;
    bottom: 0;
    mask-image: linear-gradient(to left, white, transparent);
}

.lamp-right-mask-2 {
    @extend %lamp-mask;
    width: 100%;
    right: 0;
    height: 10rem;
    bottom: 0;
    mask-image: linear-gradient(to top, white, transparent);
}

.lamp-blur {
    position: absolute;
    top: 50%;
    height: 12rem;
    width: 100%;
    transform: translateY(3rem) scaleX(1.5);
    background-color: #020617;
    filter: blur(1rem);
}

.lamp-backdrop {
    position: absolute;
    top: 50%;
    z-index: 50;
    height: 12rem;
    width: 100%;
    background-color: transparent;
    opacity: 0.1;
    backdrop-filter: blur(4px);
}

.lamp-glow {
    position: absolute;
    inset: auto;
    z-index: 50;
    height: 9rem;
    width: 28rem;
    transform: translateY(-50%);
    border-radius: 9999px;
    opacity: 0.5;
    filter: blur(3rem);
}

.lamp-light {
    position: absolute;
    inset: auto;
    z-index: 30;
    height: 6rem;
    width: 10rem;
    transform: translateY(-4rem);
    border-radius: 9999px;
    filter: blur(1rem);
}

.lamp-line {
    position: absolute;
    inset: auto;
    z-index: 50;
    height: 0.125rem;
    width: 20rem;
    transform: translateY(-5rem);
    background-color: #22d3ee;
}

.lamp-cover {
    position: absolute;
    inset: auto;
    z-index: 40;
    height: 7rem;
    width: 100%;
    transform: translateY(-8rem);
    background-color: #020617;
}}